<div class="">

    <div class="card">
        <div class="row m-0 p-0 ">
            <div class="col-12 lightpink mx-0 p-0" style="max-height: 700px;min-height: 700px; overflow-y: scroll;">
                <div class="row m-0 p-0"> <span class="text-center fs-3">Users</span></div>
                <div class="row pink rounded mx-2 p-0 my-2" *ngFor="let item of UserList" >
                    <div class="col-2 mx-2 mb-4 mt-2  ">
                        <img class="rounded-circle" width="60px" height="60px" [src]="item?.avatar_url">

                    </div>
                    <div class="col">
                        <div class="row m-0 p-0 mt-2"> <span class="fs-6 text-left">name : <a style="text-decoration-line: underline; cursor: pointer;" (click)="displayProfile(item?.login)">{{item?.login}}</a> </span></div>
                        <div class="row m-0 p-0 mt-1"><span class="fs-6 text-left">Type : {{item?.type}}</span></div>

                    </div>
                </div>
                <div class="row" style="margin-top: 500px;" *ngIf="UserList.length==0">
                    <span class="text-center" style="color: red;"> Api call limit exceeded, Please try later</span>

                </div>
                <div class="row mx-0 p-0">
                    <mat-paginator 
                    #paginator
                    [length]="100"
                    [pageSize]="perPage"
                    [pageSizeOptions]="[5, 10, 20]"
                    [hidePageSize]="true"
                    [pageIndex]="Page"
                    (page)="handlePageEvent($event)"
                    aria-label="Select page"
                    >
                   </mat-paginator>
      
                </div>
                
            </div>
            

        </div>

    </div>
</div>