html, body {
    height: 100%;
    font-family: 'Open Sans';font-size: 22px;
  }
  /* You can add global styles to this file, and also import other style files */

.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    width: 100%;
}

.container{
    height: 80vh;
    margin-top: 10vh;
}